.jumbotron {
    background-color: #a57a2a;
    color: white;
    margin-top: 2%;
    padding: 2rem;
}

#newburger {
    color: brown;
}

#leftside {
    background-color: orangered;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#rightside {
    background-color: orangered;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.col-sm-6 {
    text-align: center;
}

.image {
    margin-top: 0pc;
    margin-inline: 2px;
}