.jumbotron {
    background-color: #a57a2a;
    color: white;
    margin-top: 3%;
}

#newburger {
    color: brown;
}

#leftside {
    background-color: orangered;
    color: white;
    text-align: center;
    font-size: 24px;
}

#rightside {
    background-color: orangered;
    color: white;
    text-align: center;
    font-size: 24px;
}